html, body {
  text-align:center;
}


#mainimage {
  opacity:0;
  width:70%;
  height:449px;
  margin-left: 15%;
  margin-top:20px;
  background-image: url(../images/logo_thr_circle.png);

}

#city {
  background-position-x: 90px;
}

#holder {
  left:0;
  right:0;
  top:0px;
  height:515px;
}

.fix {
  left:20px;
  height:300px;
  opacity:1;
  background:#fff;
}
#multi {
  left:calc(50% - 100px);
  top:445px;
  width:200px;
  height:50px;
  margin-left: 0;
  margin-right: 0;
  
}

#music {
  opacity:0;
  position:absolute;
  left:calc(50% - 100px);
  top:445px;
  width:200px;
  height:50px;
  margin-left: 0;
  margin-right: 0;
}

.ref {
  left:0;
  right:0;
  top:535px;
  width:98%;
  text-align:left;
}

#multi:hover {
	border-top-left-radius:60%;
	border-bottom-left-radius:60%;
	border-top-right-radius:0%;
	border-bottom-right-radius:0%;
}

#music:hover {
	border-top-right-radius:60%;
	border-bottom-right-radius:60%;
	border-top-left-radius:0%;
	border-bottom-left-radius:0%;
}
